<p>Hallo Andre Winkler. Das ist eine Warnung.</p>

<div class="modal fade" id="confirmDeleteAction" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteAction" aria-hidden="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteActionLLabel">Du bist nicht angemeldet.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Du musst dich neu anmelden. Dann geht es weiter.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="removeUserSeason()">Speichern</button>
      </div>
    </div>
  </div>
</div>

<!--
Offene Fragen:

 * Was passiert bei (click) Events? Welche Methode wird aufgerufen? Die vom Controller. Und der wiederum?
 * 

-->