<nav aria-label="paginator">
    <ul class="pagination justify-content-end">
        <li class="page-item" [class.disabled]="page.number === 0">
            <a class="page-link" [routerLink]="" (click)="previousPage()" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li *ngFor="let pm of paginatorModel" class="page-item" [class.active]="page.number === pm">
            <a class="page-link" [routerLink]="" (click)="gotoPage(pm)">{{pm + 1}}</a>
        </li>
        <li class="page-item" [class.disabled]="page.number === totalPages - 1">
            <a class="page-link" [routerLink]="" (click)="nextPage()" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
