<h1>Mannschaften Ergebnis Vergleich</h1>
<form>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="homeTeamNameFilter" name="homeTeamNameFilter" 
                    [(ngModel)]="homeTeamNameFilter" (ngModelChange)="this.changeHomeTeamNameFilter()">
                <label for="homeTeamNameFilter">Heimmannschaft Filter</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="guestTeamNameFilter" name="guestTeamNameFilter" 
                    [(ngModel)]="guestTeamNameFilter" (ngModelChange)="this.changeGuestTeamNameFilter()">
                <label for="guestTeamNameFilter">Gastmannschaft Filter</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <select #homeTeamSelect class="form-select" id="homeTeamSelect" (change)="selectHomeTeam($event)" title="Auswahl Heimmannschaft"
                    [(ngModel)]="selectedHomeTeam" name="selectedHomeTeam">
                    <option *ngFor="let team of homeTeams" [ngValue]="team">{{ team.name }}</option>
                </select>
                <label for="homeTeamSelect">Heimmannschaft auswählen</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <select #guestTeamSelect class="form-select" id="guestTeamSelect" (change)="selectGuestTeam($event)" title="Auswahl Gastmannschaft"
                    [(ngModel)]="selectedGuestTeam" name="selectedGuestTeam">
                    <option *ngFor="let team of guestTeams" [ngValue]="team">{{ team.name }}</option>
                </select>
                <label for="homeTeamSelect">Gastmannschaft auswählen</label>
            </div>
        </div>
    </div>
</form>
<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th scope="col">Datum</th>
            <th scope="col">Heim</th>
            <th scope="col">Gast</th>
            <th scope="col">Tore</th>
        </tr>
    </thead>
    <tbody>
            <tr *ngFor="let game of games?.games">
                <td>{{game.matchDate}}</td>
                <td>{{game.homeTeamName}}</td>
                <td>{{game.guestTeamName}}</td>
                <td>{{game.homeTeamGoals}} : {{game.guestTeamGoals}}</td>
            </tr>
    </tbody>
</table>
