<h1>Meisterschaften neu anlegen</h1>

<form name="seasonmanagerupdateform" novalidate ng-disabled="submitted">
  <div class="form-group">
    <label for="id">ID</label>
    <input disabled="true" class="form-control" id="id" name="id" [(ngModel)]="model.season.id"/>
  </div>
  <div class="form-group">
      <!-- ng-class="{'has-warning': party.nickname} -->
    <label for="name">Name</label>
    <input class="form-control" id="name" name="name" [(ngModel)]="model.season.name"/>
  </div>
  <div class="form-group">
    <label for="year">Jahrgang</label>
    <input class="form-control" id="year" name="year" [(ngModel)]="model.season.year"/>
  </div>
  <div class="form-group">
    <label for="seasonType">Meisterschaftstyp</label>
    <input class="form-control" id="seasonType" name="seasonType" [(ngModel)]="model.season.seasonType"/>
  </div>
  <div class="form-group">
    <label for="teamType">Mannschaftstyp</label>
    <!--
    <input class="form-control" id="teamType" name="teamType" [(ngModel)]="season.teamType"/>
    -->

    <!-- [(ngModel)]="model.season.teamType" -->
    <select id="teamType" name="teamType">
      <option *ngFor="let teamType of model.teamTypes" [value]="teamType">{{teamType}}</option>
    </select>

  </div>
  <div class="form-group">
    <label for="openligaLeagueSeason">Openleague League</label>
    <input class="form-control" id="openligaLeagueSeason" name="openligaLeagueSeason" [(ngModel)]="model.season.openligaLeagueSeason"/>
  </div>
  <div class="form-group">
    <label for="openligaLeagueShortcut">Openleague Shortcut</label>
    <input class="form-control" id="openligaLeagueShortcut" name="openligaLeagueShortcut" [(ngModel)]="model.season.openligaLeagueShortcut"/>
  </div>

  <button
    ng-disabled="loginform.$invalid"
    class="btn btn-lg btn-primary btn-block"
    type="submit"
    (click)="createSeason()">Neu Anlegen</button>
</form>
