<div>
    <h1>Registrierung</h1>
    <div>
        <form name="registerform" novalidate>
            <div class="form-group">
                <label for="nickname" class="sr-only"
                    ng-class="{'has-warning': !registrationModel.nickname}">Nickname</label>
                <input type="text" id="nickname" name="nickname" class="form-control" placeholder="Nickname" required
                    autofocus [(ngModel)]="registrationModel.nickname" />
            </div>
            <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Password"
                    required ng-class="{'has-warning': !authenticationModel.authenticated}"
                    [(ngModel)]="authenticationModel.password" />
            </div>
            <div class="form-group">
                <label for="password2" class="sr-only">Password</label>
                <input type="password" name="password2" id="password2" class="form-control" placeholder="Password Wiederholung"
                    required ng-class="{'has-warning': !registrationModel.password2}"
                    [(ngModel)]="registrationModel.password2" />
            </div>
            <div class="form-group">
                <label for="email" class="sr-only">EMail</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="EMail"
                    required ng-class="{'has-warning': !registrationModel.email}"
                    [(ngModel)]="registrationModel.email" />
            </div>
            <div class="form-group">
                <label for="community" class="sr-only">Community</label>
                <input type="text" name="community" id="community" class="form-control" placeholder="Community"
                    required ng-class="{'has-warning': !registrationModel.community}"
                    [(ngModel)]="registrationModel.community" />
            </div>
            <button ng-disabled="loginform.$invalid" class="btn btn-lg btn-primary btn-block" type="submit"
                (click)="register()">Anmeldung Starten</button>
        </form>
    </div>    
</div>