<div>
    <h1>Registrierung</h1>
    <p>
        Starte deine Registrierung und melde dich bei deinem persönlichen
        Community Manager. Dieser sorgt dafür, dass du deiner Tippgemeinschaft
        beitreten kannst.
    </p>
    <div>
        <form name="registerform" novalidate [className]="wasValidated">
            <div class="form-group">
                <label for="nickname" class="sr-only"
                    ng-class="{'has-warning': !registrationModel.nickname}">Nickname</label>
                <input type="text" id="nickname" name="nickname" class="form-control" placeholder="Nickname" required
                    autofocus [(ngModel)]="registrationModel.nickname" />
                <div *ngIf="registrationModel.nicknameMessage" class="invalid-feedback">
                    {{registrationModel.nicknameMessage}}
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Password"
                    required ng-class="{'has-warning': !registrationModel.authenticated}"
                    [(ngModel)]="registrationModel.password" />
            </div>
            <div class="form-group">
                <label for="password2" class="sr-only">Passwort</label>
                <input type="password" name="password2" id="password2" class="form-control" placeholder="Password Wiederholung"
                    required ng-class="{'has-warning': !registrationModel.password2}"
                    [(ngModel)]="registrationModel.password2" />
                <div class="invalid-feedback">
                    {{registrationModel.passwordMessage}}
                </div>
            </div>
            <div class="form-group">
                <label for="firstname" class="sr-only"
                    ng-class="{'has-warning': !registrationModel.firstname}">Vorname</label>
                <input type="text" id="name" name="firstname" class="form-control" placeholder="Vorname" required
                    [(ngModel)]="registrationModel.firstname" />
                <div *ngIf="registrationModel.firstnameMessage" class="invalid-feedback">
                    {{registrationModel.firstnameMessage}}
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="sr-only"
                    ng-class="{'has-warning': !registrationModel.name}">Name</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Name" required
                    [(ngModel)]="registrationModel.name" />
                <div *ngIf="registrationModel.nameMessage" class="invalid-feedback">
                    {{registrationModel.nameMessage}}
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="sr-only">EMail</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="EMail"
                    required ng-class="{'has-warning': !registrationModel.email}"
                    [(ngModel)]="registrationModel.email" />
                <div class="invalid-feedback">
                    {{registrationModel.emailMessage}}
                </div>                    
            </div>
            <p>
                Den Namen der Community erhälst du von einem Community-Manager. Du solltest diesen
                persönlichen kennen, damit er deine Anmeldung bestätigen kann.
            </p>
            <div class="form-group">
                <label for="community" class="sr-only">Community</label>
                <input type="text" name="community" id="community" class="form-control" placeholder="Community"
                    required ng-class="{'has-warning': !registrationModel.community}"
                    [(ngModel)]="registrationModel.community" />
                <div class="invalid-feedback">
                    {{registrationModel.communityMessage}}
                </div>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="acceptEmail" id="acceptEmail"
                    [(ngModel)]="registrationModel.acceptEmail" required>
                <label class="form-check-label" for="acceptEmail">
                    Meine Email Adresse darf gespeichert werden und wird zur Kommunikation
                    im Zusammenhang mit dem Tippspiel verwendet.
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="acceptCookie" id="acceptCookie"
                    [(ngModel)]="registrationModel.acceptCookie" required>
                <label class="form-check-label" for="acceptCookie">
                    Es dürfen Cookies gespeichert werden. Diese identifizieren den Teilnehmer,
                    sammeln Informationen über die Benutzerfreundlichkeit des Tippspiels
                    und sind für die Funktion des Tippspiels notwendig.
                </label>
            </div>
            <p><!--
                Der Administrator dieser Seite ist Andre Winkler. Zu erreichen unter der
                Email Adresse andre.winkler@web.de
                -->
            </p>
            <button ng-disabled="loginform.$invalid" class="btn btn-primary btn-block" type="submit"
                (click)="startRegistration()">Anmeldung Starten</button>
            <button class="btn btn-secondary btn-block" (click)="reset()">Zurücksetzen</button>
        </form>
    </div>    
</div>