<div>
    <h1>Registrierung</h1>
    <p>
        Starte deine Registrierung und melde dich bei deinem persönlichen
        Community Manager. Dieser sorgt dafür, dass du deiner Tippgemeinschaft
        beitreten kannst.
    </p>
    <div>
        <form name="registerform" novalidate>
            <div class="form-group">
                <label for="nickname" class="sr-only"
                    ng-class="{'has-warning': !registrationModel.nickname.value}">Nickname</label>
                <input type="text" id="nickname" name="nickname" class="form-control" placeholder="Nickname" required
                    autofocus [(ngModel)]="registrationModel.nickname.value"
                    [class.is-invalid]="registrationModel.nickname.invalid"
                    [class.is-valid]="!registrationModel.nickname.invalid"/>
                <div *ngIf="registrationModel.nickname.message" class="invalid-feedback">
                    {{registrationModel.nickname.message}}
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="sr-only">Passwort</label>
                <!-- class="form-control is-invalid" -->
                <!-- ng-class="{'has-warning': !registrationModel.password}" -->
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" required 
                    [(ngModel)]="registrationModel.password.value"
                    [class.is-invalid]="registrationModel.password.invalid"
                    [class.is-valid]="registrationModel.password.valid"/>
                <div class="invalid-feedback">
                    {{registrationModel.password.messsage}}
                </div>
            </div>
            <div class="form-group">
                <label for="password2" class="sr-only">Passwort</label>
                <input type="password" name="password2" id="password2" class="form-control" placeholder="Password Wiederholung" required
                    [(ngModel)]="registrationModel.password2.value" 
                    [class.is-invalid]="registrationModel.password2.invalid"
                    [class.is-valid]="registrationModel.password2.valid"/>
                <div class="invalid-feedback">
                    {{registrationModel.password2.message}}
                </div>
            </div>
            <div class="form-group">
                <label for="firstname" class="sr-only"
                    ng-class="{'has-warning': !registrationModel.firstname.invalid}">Vorname</label>
                <input type="text" id="name" name="firstname" class="form-control" placeholder="Vorname" required
                    [(ngModel)]="registrationModel.firstname.value"
                    [class.is-invalid]="registrationModel.firstname.invalid"
                    [class.is-valid]="registrationModel.firstname.valid"/>
                <div *ngIf="registrationModel.firstname.message" class="invalid-feedback">
                    {{registrationModel.firstname.message}}
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="sr-only"
                    ng-class="{'has-warning': registrationModel.name.invalid}">Name</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Name" required
                    [(ngModel)]="registrationModel.name.value"
                    [class.is-invalid]="registrationModel.name.invalid" 
                    [class.is-valid]="registrationModel.name.valid"/>
                <div class="invalid-feedback">
                    {{registrationModel.name.message}}
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="sr-only">EMail</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="EMail"
                    required ng-class="{'has-warning': !registrationModel.email.invalid}"
                    [(ngModel)]="registrationModel.email.value"
                    [class.is-invalid]="registrationModel.email.invalid"
                    [class.is-valid]="registrationModel.email.valid"/>
                <div class="invalid-feedback">
                    {{registrationModel.email.message}}
                </div>                    
            </div>
            <p>
                Den Namen der Community erhälst du von einem Community-Manager. Du solltest diesen
                persönlich kennen, damit er deine Anmeldung bestätigen kann.
            </p>
            <div class="form-group">
                <label for="community" class="sr-only">Community</label>
                <input type="text" name="community" id="community" class="form-control" placeholder="Community"
                    required ng-class="{'has-warning': !registrationModel.community.invalid}"
                    [(ngModel)]="registrationModel.community.value"
                    [class.is-invalid]="registrationModel.community.invalid"
                    [class.is-valid]="registrationModel.community.valid"/>
                <div class="invalid-feedback">
                    {{registrationModel.community.message}}
                </div>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="acceptEmail" id="acceptEmail"
                    [(ngModel)]="registrationModel.acceptEmail" required
                    [class.is-invalid]="registrationModel.acceptEmail.invalid"/>
                <label class="form-check-label" for="acceptEmail">
                    Meine Email Adresse darf gespeichert werden und wird zur Kommunikation
                    im Zusammenhang mit dem Tippspiel verwendet.
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="acceptCookie" id="acceptCookie"
                    [(ngModel)]="registrationModel.acceptCookie" required
                    [class.is-invalid]="registrationModel.acceptCookie.invalid"/>
                <label class="form-check-label" for="acceptCookie">
                    Es dürfen Cookies gespeichert werden. Diese identifizieren den Teilnehmer,
                    sammeln Informationen über die Benutzerfreundlichkeit des Tippspiels
                    und sind für die Funktion des Tippspiels notwendig.
                </label>
            </div>
            <p><!--
                Der Administrator dieser Seite ist Andre Winkler. Zu erreichen unter der
                Email Adresse andre.winkler@web.de
                -->
            </p>
            <button ng-disabled="loginform.$invalid" class="btn btn-primary btn-block" type="submit"
                (click)="startRegistration()">Anmeldung Starten</button>
            <button class="btn btn-secondary btn-block" (click)="reset()">Zurücksetzen</button>
        </form>
    </div>    
</div>