<app-authentication-warning></app-authentication-warning>

<app-spinner [enabled]="!contentReady"/>

<h1>Community Verwaltung</h1>
<div>
    Verwaltung der Community... TODO...
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <td>Abkürzung</td>
                <td>Name</td>
                <td>Jahrgang</td>
                <td>Community Ops</td>
                <td>Meisterschaft</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let community of communityPage?.content">
                <td>{{community.shortName}}</td>
                <td>{{community.name}}</td>
                <td>{{community.year}}</td>
                <td>{{community.communityManager.nickname}}</td>
                <td>{{community.season.name}} {{community.season.year}}</td>
                <td>
                    <button type="button" class="btn btn-secondary btn-sm" (click)="updateCommunity(community)">
                        <i class="bi bi-gear"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <app-pager [pagerModel]="pagerModel" (pageEventEmitter)="updatePager($event)"></app-pager>
</div>
