<div>
    <form name="selectSeasonAndGroup">
        <!--
    <div class="dropdown" name="selectSeason">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{season?.name}} {{season?.year}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a *ngFor="let season of roundtable.seasons" class="dropdown-item" (click)="seasonSelected(season)">{{season.name}} {{season.year}}</a>
      </div>
    </div>
    -->
        <label for="selectSeason" class="form-label">Meisterschaft auswählen:</label>
        <select title="Select season" name="selectSeason" class="form-control form-control-sm" (change)="seasonSelected($event)">
            <option *ngFor="let season of roundtable.seasons" [value]="season.id">
                {{season.name}} {{season.year}}
            </option>
        </select>
        <div *ngIf="roundtable?.groups?.length > 1">
            <label for="selectGroup" class="form-label">Gruppe auswählen:</label>
            <select title="Select group" name="selectGroup" class="form-control form-control-sm" (change)="groupSelected($event)">
                <option *ngFor="let group of roundtable.groups" [value]="group.id">
                    {{group.name}}
                </option>
            </select>
        </div>
        <label for="selectRound" class="form-label">Runde auswählen:</label>
        <select title="Select round" name="selectRound" class="form-control form-control-sm" (change)="roundSelected($event)">
            <option *ngFor="let round of roundtable.rounds" [value]="round.id" [selected]="selectedRound?.id == round.id">
                {{round.index}}. Spieltag / {{round.dateTime | date: 'dd.MM.yyyy'}}
            </option>
        </select>
    </form>

    <div *ngIf="roundtable.table">
        <h1>{{roundtable.table.roundJson.seasonName}} {{roundtable.table.roundJson.seasonYear}}</h1>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col" class="right">Datum</th>
                    <th scope="col" class="right">Heimmannschaft</th>
                    <th scope="col" class="center">Ergebnis</th>
                    <th scope="col" class="left">Gastmannschaft</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let game of roundtable.table.roundJson.games">
                    <tr>
                        <td class="date">{{game.dateTime | date: dateTimeFormat}}</td>
                        <td class="homeTeam">
                            {{game.homeTeam.name}}
                            <img class="teamlogo" src="{{game.homeTeam.logo}}" alt=""/>
                        </td>
                        <td class="result">
                            <app-gameresult [game]="game" [halfTime]="true"></app-gameresult>
                        </td>
                        <td class="guestTeam">
                            <img class="teamlogo" src="{{game.guestTeam.logo}}" alt=""/>
                            {{game.guestTeam.name}}
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary btn-sm" (click)="onClickDetails(game)">...</button>
                        </td>
                    </tr>
                    <ng-container *ngIf="expandedGames.get(game.id).expanded">
                        <ng-container *ngIf="expandedGames.get(game.id).detail">
                            <tr>
                                <td></td>
                                <td colspan="3">
                                    <ng-container *ngFor="let goal of expandedGames.get(game.id).detail.goals">
                                        <p style="font-size: 0.8em;">
                                            {{goal.minute}}. {{goal.playerName}} {{goal.goalType}}
                                            {{goal.gameResult.homeGoals}}:{{goal.gameResult.guestGoals}}
                                        </p>
                                    </ng-container>
                                </td>
                                <td></td>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="!expandedGames.get(game.id).detail"> 
                            <tr>
                                <td><div class="loader"></div></td>
                                <td colspan="3"></td>
                                <td></td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </tbody>
        </table>
    </div>

    <!-- TODO Currently disabled. Check the drop down box above!
    <div class="btn-group btn-group-justified" role="group">
      <div class="btn-group" role="group">
        <button class="btn btn-default" type="submit" ng-click="last(round)" ng-show="round.index > 1">Letzter</button>
      </div>
      <div class="btn-group" role="group">
        <button class="btn btn-default" type="submit" ng-click="next(round)" ng-show="!round.lastRound">Nächster</button>
      </div>
    </div>
    -->

    <!--
    <div class="alert alert-danger" ng-show="round.serviceResponseMessage.status == 'ERROR'">
      FEHLER: Dieser Spieltag existiert nicht!
    </div>
-->
    <div *ngIf="roundtable.table">
        <table class="table table-striped table-sm">
            <thead>
                <th scope="col">Pos</th>
                <th scope="col">Team</th>
                <th scope="col">Punkte</th>
                <th scope="col">Tore</th>
                <th scope="col">g:r:v</th>
            </thead>
            <tbody>
                <tr *ngFor="let teamResult of roundtable.table.groupTeamTableJsons.teamResultJsons; index as i" [ngClass]="getColor(i)">
                    <td>{{teamResult.tablePosition}}</td>
                    <td>
                        <img class="teamlogo" src="{{teamResult.team.logo}}">
                        {{teamResult.team.name}}
                    </td>
                    <td>{{teamResult.win * 3 + teamResult.remis}}</td>
                    <td>{{teamResult.posGoals}}:{{teamResult.negGoals}}</td>
                    <td>{{teamResult.win}}:{{teamResult.remis}}:{{teamResult.lost}} </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>