<app-authentication-warning></app-authentication-warning>
<div>
    <h1>Gruppen / Team Zuordnung für {{model.season.name}} {{model.season.year}}</h1>
    <form #updateSeasonGroupTeam="ngForm" name="updateSeasonGroupTeam" id="updateSeasonGroupTeam">
        <div class="row mb-3">
            <ng-template [ngIf]="model.groupTypes.length === 0">
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail"
                        value="Es ist keine Gruppe der Meisterschaft zugeordnet.">
                </div>
            </ng-template>
            <ng-template [ngIf]="model.groupTypes.length > 0">
                <div class="col-sm-10">
                    <table class="table table-sm" *ngFor="let groupType of model.groupTypes">
                        <thead>
                            <tr colspan="3">
                                <th>
                                    {{groupType.name}}
                                    <button type="button" class="btn btn-sm btn-secondary"
                                        (click)="removeGroup(groupType)">
                                        Gruppe entfernen
                                    </button>
                                </th>
                            </tr>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Bezeichnung</th>
                                <th scope="col">Logo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>TODO Find all teams of group and season.</td>
                            </tr>
                            <!--
                            <tr *ngFor="let team of seasonGroupTeamModel.teams">
                                <td>{{team.name}}</td>
                                <td>{{team.longName}}</td>
                                <td>
                                    <img class="teamlogo" src="{{team.logo}}"/>
                                </td>
                            </tr>
                            -->
                        </tbody>
                    </table>
                </div>
            </ng-template>                
        </div>

        <div class="mb-3">
            <label for="groupTypes" class="form-label">Gruppen zur Meisterschaft hinzufügen</label>
            <select class="form-select" id="selectedGroupType" name="selectedGroupType"
                aria-label="Default select example"
                [(ngModel)]="model.selectedGroupType"
                (change)="addGroup(model.selectedGroupType)">
                <option [ngValue]="undefined" selected>Gruppe auswählen...</option>
                <option *ngFor="let groupType of model.selectableGroupTypes"
                    [ngValue]="groupType">
                    {{groupType.name}}
                </option>
              </select>
        </div>
    </form>
</div>