<div>
    <div *ngIf="!tippModel.authenticated">
        <div class="form-group">
            <p class="alert alert-warning">
                Du bist noch nicht angemeldet.
                <a routerLink="/login" routerLinkActive="active">Hier</a> kannst du das nachholen.
            </p>
        </div>
    </div>

    <div *ngIf="tippModel.authenticated" class="form-group">
        <div class="alert alert-success">
            Du bist eingeloggt als {{tippModel.nickname}}.<br />
        </div>
    </div>

    <div *ngIf="tippModel.authenticated && !tippModel.round">
        <div class="alert alert-info" role="alert">Zur Zeit gibt es keinen Spieltag zu tippen.</div>
        <div>
            Hier kannst du dir deinen letzten Tipp anschauen.
        </div>
    </div>

    <div>
        <p>Hier geht es zu der <a routerLink="/tipp-small">mobilen Variante</a> der Tippseite.</p>
    </div>

    <div *ngIf="tippModel.authenticated && tippModel.round">
        <h2>{{tippModel.round.seasonName}} {{tippModel.round.seasonYear}}</h2>
        <h3>{{tippModel.round.index}}. Spieltag am {{tippModel.round.dateTime | date: 'dd.MM.yyyy': '+0000'}}</h3>
        <form name="tippform" novalidate>
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th class="hidden-xs" style="text-align:right">Datum</th>
                        <th style="text-align:right">Heimmannschaft</th>
                        <th style="text-align:left">Gastmannschaft</th>
                        <th class="hidden-xs">Tore</th>
                        <th colspan="2">Tipp</th>
                        <th style="text-align:right">Punkte</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let game of tippModel.round.games">
                        <td class="hidden-xs" style="text-align:right">
                            {{game.dateTime | date: 'dd.MM.yyyy HH:mm': '+0000'}}
                        </td>
                        <td style="text-align: right">{{game.homeTeam.name}}</td>
                        <td style="text-align: left">{{game.guestTeam.name}}</td>
                        <td class="hidden-xs">
                            <app-gameresult [game]="game" [halfTime]="true"></app-gameresult>
                        </td>
                        <td>
                            <input class="form-control" id="{{tippModel.round.id}}heim{{game.id}}"
                                name="{{tippModel.round.id}}heim{{game.id}}" max="15" min="0" type="number" size="1"
                                [disabled]="game.finished" placeholder="{{game.result.homeGoals}}"
                                [(ngModel)]="game.tipps[0].tipp.homeGoals" />
                        </td>
                        <td>
                            <input class="form-control" id="{{tippModel.round.id}}gast{{game.id}}"
                                name="{{tippModel.round.id}}gast{{game.id}}" max="15" min="0" type="number" size="1"
                                [disabled]="game.finished" placeholder="{{game.result.guestGoals}}"
                                [(ngModel)]="game.tipps[0].tipp.guestGoals" />
                        </td>
                        <td *ngIf="game.finished" style="text-align:center"
                            [ngClass]="{'jackpot': game.tipps[0].points == 13, 'win': game.tipps[0].points == 10, 'ticket': game.tipps[0].points == 0 }">
                            {{game.tipps[0].points}}
                        </td>
                        <td *ngIf="!game.finished">
                        </td>
                    </tr>
                </tbody>
                <!--
          <tr>
            <td colspan="6" style="text-align:right; font-weight: bold">Gesamt</td>
            <td style="text-align:right; font-weight: bold">{{tippModel.points}}</td>
          </tr>
          -->
            </table>

            <!-- Naechster und Letzer Spieltag -->
            <div class="row">
                <div class="col">
                    <div class="alert alert-primary" role="alert" style="text-align: center">
                        Punktzahl Spieltag: <b>{{tippModel.points}}</b>
                    </div>
                </div>
            </div>
            <div class="row form-group" *ngIf="tippModel.modified">
                <div class="col">
                    <div class="alert alert-warning" role="alert" style="text-align: center">
                        <strong>ACHTUNG:</strong> Deine Änderungen sind noch nicht gespeichert!
                    </div>
                </div>
            </div>
            <div class="row form-group" *ngIf="this.submitButtonModel.responseStatusCode == 200">
                <div class="col">
                    <div class="alert alert-success">
                        Dein Tipp wurde erfolgreich gespeichert!
                    </div>
                </div>
            </div>
            <div class="row form-group" *ngIf="this.submitButtonModel.responseStatusCode == 403">
                <div class="col">
                    <div class="alert alert-danger">
                        Dein Authentifizierungstoken ist abgelaufen. Melde dich bitte neu an.
                        <a routerLink="/login" routerLinkActive="active">Hier</a> kannst du das nachholen.
                    </div>
                </div>
            </div>
            <!--
        <div class="row form-group">
          <div class="col">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{submitButtonModel.progress}}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        -->
            <div class="row form-group">
                <div class="col">
                    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="submitTipp()"
                        *ngIf="tippModel.authenticated && tippModel.round.tippable">Tipp</button>
                </div>
            </div>
            <div class="row form-group">
                <div class="col">
                    <button class="btn btn-lg btn-secondary btn-block" (click)="last()"
                        *ngIf="tippModel.round.index > 1">Letzter</button>
                </div>
                <div class="col">
                    <button class="btn btn-lg btn-secondary btn-block" (click)="next()"
                        *ngIf="!tippModel.round.lastRound">Nächster</button>
                </div>
            </div>
        </form>
    </div>
</div>
