.jackpot {
    background-color: green;
}

.win {
    background-color: yellowgreen;
}

.ticket {
    background-color: lightcoral;
}

.desktop td {
    vertical-align: middle;
}

img.teamlogo {
    max-height: 24px;
    max-width: 24px;
}
