<div>

    <div *ngIf="!tippModelContainer.authenticated">
        <div class="form-group">
            <p class="alert alert-warning">
                Du bist noch nicht angemeldet.
                <a routerLink="/login" routerLinkActive="active">Hier</a> kannst du das nachholen.
            </p>
        </div>
    </div>

    <div>
        <p>Hier geht es zu der <a routerLink="/tipp">Desktop Variante</a> der Tippseite.</p>
        <p>Hier geht es zu der <a routerLink="/tipp-small">Mobilen Variante</a> der Tippseite.</p>
    </div>

    <div *ngIf="tippModelContainer.authenticated" class="form-group">
        <div class="alert alert-success">
            Du bist eingeloggt als {{tippModelContainer.nickname}}.
        </div>
    </div>

    <div *ngIf="tippModelContainer.authenticated && !tippModelContainer.round">
        <div class="alert alert-info" role="alert">Zur Zeit gibt es keinen Spieltag zu tippen.</div>
        <div>
            Hier kannst du dir deinen letzten Tipp anschauen.
        </div>
    </div>

    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="home1">Heim</label>
                <input type="text" class="form-control" placeholder="First name">
            </div>
            <div class="form-group col-md-6">
                <label for="home1">Heim</label>
                <input type="text" class="form-control" placeholder="Last name">
            </div>
        </div>
        <div class="form-row">
            <fieldset>
                <div style="font-size: smaller;">22.11.2020 17:30</div>
                <div>FC Bayern München</div>
                <div>Borussia Dortmund</div>
                <select style=";" id="homeGoals1">
                    <option selected>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                <select id="homeGoals1">
                    <option selected>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </fieldset>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="home1">Heim</label>
                <select id="homeGoals1" class="form-control">
                    <option selected>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="guest1">Gast</label>
                <select id="guestGoals1" class="form-control">
                    <option selected>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
        </div>
    </form>

</div>