<div>
    <app-spinner [enabled]="!contentReady"/>
    <div *ngIf="!tippModelContainer.authenticated">
        <div class="form-group">
            <p class="alert alert-warning">
                Du bist noch nicht angemeldet.
                <a routerLink="/login" routerLinkActive="active">Hier</a> kannst du das nachholen.
            </p>
        </div>
    </div>

    <app-tipp-selector selectionState="mobile"></app-tipp-selector>

    <div *ngIf="tippModelContainer.authenticated && !tippModelContainer.round">
        <div class="alert alert-info" role="alert">Zur Zeit gibt es keinen Spieltag zu tippen.</div>
        <div>
            Hier kannst du dir deinen letzten Tipp anschauen.
        </div>
    </div>
    <form>
        <fieldset>
        <!--
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="home1">Heim</label>
                <input type="text" class="form-control" placeholder="First name">
            </div>
            <div class="form-group col-md-6">
                <label for="home1">Heim</label>
                <input type="text" class="form-control" placeholder="Last name">
            </div>
        </div>
        -->
        <small>
        <div class="grid-scroller">
            <div class="grid">
                <div class="grid-header fixed-left">Datum</div>
                <div class="grid-header">Heim/Gast</div>
                <div class="grid-header">Tore</div>
                <div class="grid-header last">...</div>
                <ng-container *ngFor="let tipp of tippModelContainer.tippModels; let index = index">
                    <div class="rowWrapper">
                        <div class="grid-entry fixed-left date-entry">
                            <small>{{tipp.game.dateTime | date: dateTimeFormat}}</small>
                        </div>  
                        <div class="grid-entry home-team">
                            <img class="teamlogo" src="{{tipp.game.homeTeam.logo}}"
                                title="{{tipp.game.homeTeam.shortName}}"
                                style="width:1.5em; height: 1.5em;">
                            {{tipp.game.homeTeam.shortName}}
                        </div>
                        <div class="grid-entry goal-entry">
                            {{tipp.game.result.homeGoals}} : {{tipp.game.result.guestGoals}}
                        </div>
                        <div class="grid-entry tipp-entry">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-secondary btn-sm">1:0</button>
                                <button type="button" class="btn btn-secondary btn-sm">1:1</button>
                                <button type="button" class="btn btn-secondary btn-sm">1:2</button>
                            </div>
                        </div>
                        <div class="grid-entry guest-team">
                            <img class="teamlogo" src="{{tipp.game.guestTeam.logo}}"
                                title="{{tipp.game.guestTeam.shortName}}"
                                style="width:1.5em; height: 1.5em;">                            
                            {{tipp.game.guestTeam.shortName}}
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        </small>
        </fieldset>
    </form>
</div>