<app-authentication-warning></app-authentication-warning>
<app-spinner [enabled]="processing()"></app-spinner>

<h1>Spieltage verwalten</h1>
<p>
    {{season()?.name}} {{season()?.year}} / {{season()?.seasonType}} / {{season()?.teamType}}
</p>
<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Index</th>
            <th scope="col">Round</th>
            <th scope="col">Gruppe</th>
            <th scope="col">Type</th>
            <th scope="col">...</th>
        </tr>
    </thead>
    <tbody>
        @for (round of season()?.rounds; track round) {
        <tr [class.table-warning]="isEditingRound(round)">
            <td>
                <button type="button" class="btn btn-primary btn-sm" (click)="updateRound(season(), round)">
                    <i class="bi bi-gear"></i>
                </button>
            </td>
            <td>{{round.index}}</td>
            <td>
                @if (isEditingRound(round)) {
                <input type="datetime-local" class="form-control form-control-sm round-inline-control" name="dateTime{{round.id}}"
                    [(ngModel)]="editingRoundDateTime" />
                } @else {
                {{round.dateTime | date: dateTimeFormat}}
                }
            </td>
            <td>
                @if (isEditingRound(round)) {
                <select class="form-select form-select-sm round-inline-control" name="groupType{{round.id}}"
                    [(ngModel)]="editingRoundGroupType">
                    @for (groupType of groupTypes(); track groupType) {
                    <option [ngValue]="groupType">{{groupType.name}}</option>
                    }
                </select>
                } @else {
                {{round.groupType?.name}}
                }
            </td>
            <td>{{isEditingRound(round) ? editingRoundGroupType?.type : round.groupType?.type}}</td>
            <td>
                @switch (isEditingRound(round) ? editingRoundGroupType?.type : round.groupType?.type) {
                @case ('PRELIMINARY_ROUND') {
                <div>Vorrunde</div>
                }
                @case ('KNOCKOUT_ROUND') {
                <div>K.O.-Runde</div>
                }
                @case ('SEMI_FINAL') {
                <div>Halbfinale</div>
                }
                @case ('FINAL') {
                <div>Finale</div>
                }
                @default {
                <div>Unbekannt</div>
                }
                }
            </td>
            <td>
                @if (isEditingRound(round)) {
                <div class="btn-group btn-group-sm" role="group">
                    <button type="button" class="btn btn-success btn-sm" [disabled]="updatingRound()"
                        (click)="updateRound(season(), round)">
                        <i class="bi bi-check-lg"></i>
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm" [disabled]="updatingRound()"
                        (click)="cancelRoundEdit()">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </div>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
        </tr>
    </thead>
    <tbody>
        @for (groupType of groupTypes(); track groupType) {
        <tr>
            <td></td>
            <td>{{groupType.name}}</td>
            <td>{{groupType.type}}</td>
        </tr>
        }
    </tbody>
</table>