<div class="container">
  <nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link active" routerLink="/login" [class.active]="login">Login</a>
    <a class="nav-item nav-link" routerLink="/tipp" [class.active]="tipp">Tipp</a>
    <a class="nav-item nav-link" routerLink="/tipp-small" [class.active]="tippMobile">Tipp (Mobile)</a>
    <a class="nav-item nav-link" routerLink="/ranking" [class.active]="teilnehmer">Teilnehmer</a>
    <a class="nav-item nav-link" routerLink="/season" [class.active]="meisterschaften">Meisterschaften</a>
  </nav>
  <hr/>
  <ul>
    <li>
      <a routerLink="/chiefop/party">Admin: Teilnehmer</a>
    </li>
    <li>
      <a routerLink="/chiefop/seasonmanager">Admin: Meisterschaft</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
