<h1>{{title}}</h1>
<p>Hier kommt dann die Tipper Tabelle hin.</p>

<nav>
  <ul>
    <li>
      <a routerLink="/login">Login</a>
    </li>
    <li>
      <a routerLink="/tipp">Tipp</a>
    </li>
    <li>
      <a routerLink="/ranking">Teilnehmer</a>
    </li>
    <li>
      <a routerLink="/season">Meisterschaften</a>
    </li>
  </ul>
  <ul>
    <li>
      <a routerLink="/chiefop/party">Admin: Teilnehmer</a>
    </li>
    <li>
      <a routerLink="/chiefop/seasonmanager">Admin: Meisterschat</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
