<h1>Meisterschaften Verwaltung</h1>

<div>
  <a class="btn btn-secondary btn-sm" (click)="createSeason()">Neue Meisterschaft</a>
</div>

<hr/>

<div *ngIf="seasons.length != 0">
  <table class="table table-striped">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Jahr</th>
      <th>Meisterschaft-Modus</th>
      <th>Teilnehmer-Typ</th>
      <th>OpenligaLeagueSeason</th>
      <th>OpenligaLeagueShortcut</th>
    </tr>
      <tr *ngFor="let season of seasons">
        <td>
          <button class="btn btn-primary btn-sm" type="submit" (click)="updateSeason(season)">
          Edit
          </button>
        </td>
        <td>{{season.name}}</td>
        <td>{{season.year}}</td>
        <td>{{season.seasonType}}</td>
        <td>{{season.teamType}}</td>
        <td>{{season.openligaLeagueSeason}}</td>
        <td>{{season.openligaLeagueShortcut}}</td>
      </tr>
  </table>
</div>
