<div>
    <form id="tipp-selector" name="tipp-selector" [formGroup]="form">
        <div class="form-group">
            <label for="tippFromSelection">Formular wechseln</label>
            <select formControlName="state" class="form-control" id="tippFromSelection">
                <option *ngFor="let state of states" [ngValue]="state" [selected]="state.id == selectionState">
                    {{state.name}}
                </option>
            </select>
        </div>

        <p>Selected: {{form.value | json}}</p>
    </form>
</div>
