<app-authentication-warning></app-authentication-warning>
<div>
    <form #selectSeasonAndGroup="ngForm" name="selectSeasonAndGroup">
        <div class="form-group">
            <label for="selectGroup">Gruppe auswählen:</label>
            <select name="selectGroup" class="form-control form-control-sm" (change)="groupSelected($event)">
                <option *ngFor="let group of roundtable.groups" [value]="group.id">
                    {{group.name}}
                </option>
            </select>
        </div>

        <div *ngIf="roundtable?.rounds?.length == 0">
            <div class="alert alert-info" role="alert">
                Keiner Spieltage vorhanden.
            </div>
            <div>
                <button type="button" class="btn btn-primary btn-block" (click)="createOpenligaDb()">Neu
                    anlegen mit OpenligaDB</button>
            </div>
        </div>
        <div *ngIf="roundtable?.rounds?.length > 0">
            <div class="form-group">
                <label for="selectRound">Runde auswählen:</label>
                <select name="selectRound" class="form-control form-control-sm" (change)="roundSelected($event)">
                    <option *ngFor="let round of roundtable.rounds" [value]="round.id"
                        [selected]="roundtable?.selectedRound?.id == round.id">
                        {{round.dateTime | date: 'dd.MM.yyyy HH:mm': '+0200'}}
                    </option>
                </select>
            </div>
        </div>
    </form>

    <form #updateMatchday="ngForm" name="upateMatchday">
        <div *ngIf="roundtable.table">
            <h1>{{roundtable.table.roundJson.seasonName}} {{roundtable.table.roundJson.seasonYear}}</h1>
            <table class="table table-striped table-sm">
                <tr>
                    <th></th>
                    <th>F</th>
                    <th>KO</th>
                    <th style="text-align:right">Datum</th>
                    <th style="text-align:right">Heim</th>
                    <th style="text-align:left">Gast</th>
                    <th>HZ H</th>
                    <th>HZ G</th>
                    <th>ES H</th>
                    <th>ES G</th>
                </tr>
                <tr *ngFor="let game of roundtable.table.roundJson.games">
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" (click)="updateMatch(game)">Edit</button>
                    </td>
                    <td><input type="checkbox" id="{{game.id}}Finished" name="{{game.id}}Finished"
                            [(ngModel)]="game.finished" /></td>
                    <td><input type="checkbox" id="{{game.id}}Ko" name="{{game.id}}ko" [(ngModel)]="game.ko"></td>
                    <td style="text-align:right">{{game.dateTime | date: 'dd.MM.yyyy HH:mm': '+0200'}}</td>
                    <td style="text-align:right">{{game.homeTeam.name}}</td>
                    <td style="text-align:left">{{game.guestTeam.name}}</td>
                    <td>
                        <input max="15" min="0" type="number" size="1" class="form-control"
                            id="{{game.id}}HalfTimeHomeGoals" name="{{game.id}}HalfTimeHomeGoals"
                            [(ngModel)]="game.halfTimeResult.homeGoals" />
                    </td>
                    <td>
                        <input max="15" min="0" type="number" size="1" class="form-control"
                            id="{{game.id}}HalfTimeGuestGoals" name="{{game.id}}HalfTimeGuestGoals"
                            [(ngModel)]="game.halfTimeResult.guestGoals" />
                    </td>
                    <td>
                        <input max="15" min="0" type="number" size="1" class="form-control" id="{{game.id}}HomeGoals"
                            name="{{game.id}}HomeGoals" [(ngModel)]="game.result.homeGoals" />
                    </td>
                    <td>
                        <input max="15" min="0" type="number" size="1" class="form-control" id="{{game.id}}GuestGoals"
                            name="{{game.id}}GuestGoals" [(ngModel)]="game.result.guestGoals" />
                    </td>
                </tr>
            </table>
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-sm btn-primary btn-block"
                        (click)="updateMatchDay()">Speichern</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-sm btn-secondary btn-block" (click)="updateOpenligaDb()">Update
                        mit OpenligaDB</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-sm btn-secondary btn-block" (click)="createOpenligaDb()">Neu
                        anlegen mit OpenligaDB</button>
                </div>
            </div>
        </div>
    </form>

    <hr />
    <!-- TODO Currently disabled. Check the drop down box above!
    <div class="btn-group btn-group-justified" role="group">
      <div class="btn-group" role="group">
        <button class="btn btn-default" type="submit" ng-click="last(round)" ng-show="round.index > 1">Letzter</button>
      </div>
      <div class="btn-group" role="group">
        <button class="btn btn-default" type="submit" ng-click="next(round)" ng-show="!round.lastRound">Nächster</button>
      </div>
    </div>
    -->

    <!--
    <div class="alert alert-danger" ng-show="round.serviceResponseMessage.status == 'ERROR'">
      FEHLER: Dieser Spieltag existiert nicht!
    </div>
-->
    <div *ngIf="roundtable.table">
        <table class="table table-striped table-sm">
            <th>Pos</th>
            <th>Team</th>
            <th>Punkte</th>
            <th>Tore</th>
            <th>g:r:v</th>
            <tr *ngFor="let team of roundtable.table.groupTeamTableJsons.teamResultJsons">
                <td>{{team.tablePosition}}</td>
                <td>{{team.teamName}}</td>
                <td>{{team.win * 3 + team.remis}}</td>
                <td>{{team.posGoals}}:{{team.negGoals}}</td>
                <td>{{team.win}}:{{team.remis}}:{{team.lost}} </td>
            </tr>
        </table>
    </div>

</div>