<div class="betoffice-app">
  <h1>Session Verwaltung</h1>
  <p *ngIf="authentication.authenticate">
    Du bist als {{authentication.nickname}} angemeldet.
  </p>
  <p *ngIf="authentication.isAdmin()">
    Du bist als Administrator angemeldet.
  </p>
  <p *ngIf="!authentication.authenticate">
    Du bist nicht angemeldet.
  </p>

  <div *ngIf="!authentication.authenticate">
    <div class="alert alert-danger" role="alert"
        *ngIf="authentication.authenticationTries > 0 && !authentication.authenticate">
        Der Login-Versuch ist fehlgeschlagen.
    </div>
    <form name="loginform" novalidate>
      <div class="form-group">
        <label for="inputNickname" class="sr-only" ng-class="{'has-warning': !authentication.authenticate}">Nickname</label>
        <input type="text" id="inputNickname" class="form-control" placeholder="Nickname" required autofocus ng-model="authentication.nickname"/>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="authentication.password"
          ng-class="{'has-warning': !authentication.authenticate}"/>
      </div>
      <button
        ng-disabled="loginform.$invalid"
        class="btn btn-lg btn-primary btn-block"
        type="submit"
        (click)="login(login.nickname, login.password, login.rememberme)">Sign in</button>
    </form>
  </div>

  <div *ngIf="authentication.authenticate">
      Falls du dich ausloggen möchtest, dann kannst du das hier erledigen.
      <form name="logoutform" novalidate>
        <button
          class="btn btn-lg btn-primary btn-block"
          type="submit"
          (click)="logout()">Logout</button>
      </form>
  </div>

</div>
