<div *ngIf="ranking">
  <h3>{{ranking.season.name}} {{ranking.season.year}}</h3>
  <h4>{{ranking.round.index}}. Spieltag am {{ranking.round.dateTime | date: 'dd.MM.yyyy HH:mm' }}</h4>
  <table class="table table-striped">
    <tr>
      <th>Platz</th>
      <th>Name</th>
      <th>Punkte</th>
      <th>g</th>
      <th>t</th>
      <th>v</th>
    </tr>
    <tr *ngFor="let user of ranking.users">
      <td>{{user.position}}</td>
      <td>{{user.nickname}}
        <!--
        <a ng-href="#/season/{{ranking.season.id}}/ranking/{{user.nickname}}">{{user.nickname}}</a>
        -->
      </td>
      <td>{{user.points}}</td>
      <td>{{user.win}}</td>
      <td>{{user.toto}}</td>
      <td>{{user.ticket}}</td>
    </tr>
  </table>
  <div class="row form-group">
    <div class="col">
      <button class="btn btn-lg btn-secondary btn-block" type="submit" (click)="last(ranking.round.id)" *ngIf="ranking.round.index > 1">Letzter</button>
    </div>
    <div class="col">
      <button class="btn btn-lg btn-secondary btn-block" type="submit" (click)="next(ranking.round.id)" *ngIf="!ranking.round.lastRound">Nächster</button>
    </div>
  </div>

<!--
  <div class="row form-group">
      <div class="col">     
        <button 
          class="btn btn-lg btn-secondary btn-block"
          (click)="last()" *ngIf="tippModel.round.index > 1">Letzter</button>
      </div>
      <div class="col">
        <button 
          class="btn btn-lg btn-secondary btn-block"
          (click)="next()" *ngIf="!tippModel.round.lastRound">Nächster</button>
      </div>
    </div>
  -->
<!--
  <div class="alert alert-danger" ng-show="round.serviceResponseMessage.status == 'ERROR'">
    FEHLER: Für die angeforderte Meisterschaft existiert keine Teilnehmübersicht!
  </div>
-->
</div>
