<div>
    <ng-container *ngIf="gameDetail.detail">
        <ng-container *ngFor="let goal of gameDetail.detail?.goals">
            <div class="row">
                <div class="col"></div>
                <div class="col" style="font-size: 0.8em;">
                    {{goal.minute}}. {{goal.playerName}} {{goal.goalType}}
                    {{goal.gameResult.homeGoals}}:{{goal.gameResult.guestGoals}}
                </div>
                <div class="col"></div>
            </div>
        </ng-container>
        <ng-container *ngIf="!gameDetail.detail?.finished">
            <div class="row">
                <div class="col"></div>
                <div class="col" style="font-size: 0.8em;">Das Spiel ist noch nicht beendet.</div>
                <div class="col"></div>
            </div>
        </ng-container>
        <ng-container *ngIf="gameDetail.detail?.goals.length === 0">
            <div class="row">
                <div class="col"></div>
                <div class="col" style="font-size: 0.8em;">Es liegen keine Tore vor.</div>
                <div class="col"></div>
            </div>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="!gameDetail.detail && !loading"> 
        <div class="row">
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <i>Es liegen keine Spieldaten vor.</i>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="loading">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="spinner-border spinner-border-sm" role="status">
                    <span class="sr-only"><!--Daten werden geladen...--></span>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </ng-container>
</div>
